<!--{{/* */}}-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>ndevi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	
<div class="container-fluid">
<a href="http://www.ndevi.com/" style="text-decoration:none;"><h2>ndevi</h2></a>
	  		
	<div class="col-xs-12 col-md-12">

	<div class="col-xs-12 col-md-8">
	<h4>Technology assisted reinsurance placement</h4>
	<p>ndevi is a B2B startup that provides technology assisted bargaining solutions for reinsurance placement. 
	We are creating systems that can reliably replicate the outcomes of conventional methods
	in a fraction of the time and human resources.
	
	
	Our system can help firms manage the impact of information asymmetries and also generate market level micro data 
	from various product segments.	
	</p>

	<p>We are <b>not trying</b> to create a marketplace to match reinsurance capacities with needs. 
	We are creating a new conversation channel in the existing marketplace. 
	We provide a choice of simple and automated bid comparison rules to help negotiating parties reach agreement quickly.

	 
	{{/*Conventional reinsurance placement is time and resource intensive. 
	Our view is that, apart from a few rare and highly complex scenarios, most reinsurance deals 
	have become quite commoditized, and should take no more than a few days to place. */}}
	
	</p>
	
	
	{{/*We have base solutions targeted at three levels of reinsurance placement:
	<ul>
	<li> Primary placement: Initial selection of a lead reinsurer (treaty).
	</li>
	<li> One shot secondary placement of the residual reinsurance need <i>after</i> leader selection for treaty agreements.
	</li>
	<li> Individual facultative placements.
	</li>
	</ul>
	Solutions are developed thinking of insurers or reinsurance brokers as the party starting a placement process.
	The secondary placement	solution can also be used by reinsurers themselves in the retrocession market.
	*}}

	<h4>People</h4>
	Shreemoy Mishra is an engineer and economist based in New Delhi, India. 
	He completed his doctoral work in economics at the University of Texas at Austin where he also received a MS in operations 
	research & industrial engineering. 	
	Post PhD, he served at Oberlin College in Ohio, Vassar College in New York, and IIIT Delhi. 
	 
	His research explores applications of game theory in credit and insurance markets.
	He left academics in July 2015 to focus full time on ndevi. 
	</p>	
	
	{{/*
	<p>Bani Dhir is former group leader, benefits practice, at Mercer Consulting
	in New Delhi. Bani was previously at Munich Re in Germany and Genpact in India. She is currently wrapping up
	some obligations and plans to focus on starting up full time in January. 
	</p>
	*/}}
	
	<h4>User Accounts:</h4>	
	<p>We use corporate email IDs as
	usernames. This is intended to restrict registration to current insurance industry professionals who have
	their employers' approval to use our system. This also makes it easy for users to clearly associate 
	other users with their respective firms. Accounts of unapproved users will be deleted.
	</p>
	
	{{/*
	<p>This web application is HTTPS only. All communication to and from our site is encrypted. The site
	runs on Google's App Engine. We do not share user information with anyone, not even with other
	users of the application. Passwords are stored in encrypted form using standard cryptographic
	algorithms (brcypt). However, as a precaution, users should avoid using the same passwords they use elsewhere.
	Users should especially avoid using the same password as their corporate account.</p>
	 */}} 
	
	</div>


	<div class="col-xs-12 col-md-4">

	<h4>Sign in</h4>
	<p>Please do not enter your password if you don't see the lock (secure http) sign
  	in the address bar or if the address starts with anything <b>except</b> https://www.ndevi.com  (or https://ndevi.com).</p>
	<form action="/signin" method="post">
	<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name ="exampleInputEmail1" class="form-control" id="exampleInputEmail1" placeholder="first.last@abcinsurance.com" required>
	  </div>
  	<div class="form-group">
    <label for="exampleInputPassword1">ndevi password</label>
    <input type="password" name = "exampleInputPassword1"  class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  	</div>
  	
  	<button type="submit" class="btn btn-success">Login</button>
  	
  	<a href="/reslink">Reset or change password</a>

	</form>	
	<br>	
	{{/*<p>Login problems? See below.</p> */}}

	
	{{/*<h4>New user registration </h4>
	<form action="/regreq" method="post">
	<div class="form-group">
    <label for="exampleInputEmail1">Work Email address</label>
    <input type="email" name  = "exampleInputEmail1" class="form-control" id="exampleInputEmail1" placeholder="first.last@abcinsurance.com" required>
	</div>
  	<button type="submit" class="btn btn-primary">Register</button>		
	</form>	
	<br>
	<p>Users must be  current insurance industry professionals. For the next few months, we will only
	serve users from specific firms we partner with. Other user created accounts may be deleted.</p>
	
	<p><b>Login Problems:</b> Like any other password controlled application, we use session cookies for user authentication 
	and session management. Cookies are automatically deleted upon log out or when
	users quit and restart the browser. </p>
	<p>If you see the message "<i>securecookie: the value is not valid</i>,
	then simply quit and restart your browser (don't just close a tab) to clear previous session cookies. 
	Alternatively, you could locate and remove ndevi.com cookies yourself. This is particularly
	easy if you are using Google's Chrome browser. Just type
	chrome://settings/cookies in the address bar. You can easily find ndevi.com cookies and remove them. For 
	other web browsers check under privacy or advanced settings. Each browser stores its cookies
	separately.  </p>
	*/}}
	</div>
	
	
	
	
	
	
		</div>
	 <br></br>	
	<footer id="footer">	
    <p>ndevi solutions 2015. Contact <a href ="mailto:support@ndevi.com">support@ndevi.com</a> </p>    
    </footer>	
	
</div>
</body>
</html>	